body {
    height: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

main {
    box-shadow: 2px 2px 10px rgb(207, 207, 207);
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
}

h2 {
    margin: 0 0 5px 0; 
}

#inputAdicionar {
    height: 20px;
    transition: .5s;
    margin-right: 15px;
}

#inputAdicionar:focus{
    box-shadow: 2px 2px 10px blue;
}

#btnAdicionar {
    border: none;
    background-color: rgb(49, 180, 255);
    height: 20px;
    border-radius: 5px;
}

#inputLetra {
    margin-top: 5px;
    height: 20px;
    transition: 0.5s;
}

#inputLetra:focus {
    box-shadow: 2px 2px 10px blue;
}

.resultadoLetraClass {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.resultadoLetraClass li {
    width: 149px;
    padding: 5px 0 5px 20px;
    background-color: rgba(0, 0, 0, 0.089);
    transition: 0.2s;
}

.resultadoLetraClass li:hover {
    background-color: rgba(0, 0, 0, 0.164);
}

.containerListaCompras {
    display: none;
    box-shadow: 2px 2px 10px rgb(151, 151, 151);
    background-color: cadetblue;
    padding: 30px 40px;
    border-radius: 10px;
}

#resulListaCompras {
    cursor: pointer;
    padding: 0;
}

#resulListaCompras li {
    padding: 3px 0 3px 20px;
    list-style: none;
}

#resulListaCompras li:hover {
    background-color: rgba(0, 0, 0, 0.212);
}

.aparecerListaCompras {
    display: flex;
    flex-direction: column;
}
