body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 650px;
    align-items: center;
    justify-content: center;
}

#criarConta,
#fazerLogin {
    border: none;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(136, 136, 136);
    color: white;
    width: 90px;
}

.containerCriar {
    display: none;
}

.containerCriarShow,
.containerLoginShow {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    width: 300px;
    box-shadow: 1px 1px 3px rgb(131, 131, 131), -1px -1px 3px rgb(131, 131, 131);
    border-radius: 15px;
    margin-top: 20px;
}

.containerUsuarioSenha {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

#criarNome {
    width: 200px;
    height: 20px;
}

.alertaNome,
.alertaSenha,
.alertaNomeLogin,
.alertaSenhaLogin {
    color: red;
}

#criarSenha {
    width: 200px;
    height: 20px;
}

#btnSalvar,
#btnEntrar {
    width: 100px;
    height: 30px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(61, 61, 61);
    color: white;
    transition: 0.600s all;
}

#btnSalvar:hover,
#btnEntrar:hover {
    transform: scale(1.1);
}

.concluido {
    display: none;
}

.concluidoShow {
    display: flex;
}

.containerLogin {
    display: none;
}

.containerLoginShow {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

#nomeUsuario {
    width: 200px;
    height: 20px;
}

#senhaUsuario {
    width: 200px;
    height: 20px;
}