*{
    padding: 0;
    margin: 0;
}

body {
    height: 100dvb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#produtos {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 5px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
}

.btnAdicionar { 
    height: 20px;
    width: 150px;
    transition: 0.5s all;
    border: none;
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
}

.btnAdicionar:hover {
    
}

.resulCarrinhoClass {}

.resulCarrinhoShow {
    background-color: rgb(182, 182, 182);
    margin: 30px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(172, 172, 172);
}

.listaProdutos {
    list-style: none;
}

.listaCarrinho {
    list-style: none;
}

@media (max-width: 500px) {
    .btnAdicionar {
        width: 100px;
    }
}