body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.lista {
    display: none;
}

.listaShow {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 60%;
    padding: 30px;
    color: white;
    border-radius: 20px;
    line-height: 25px;
}

.reiniciar {
    display: none;
}

.reiniciarShow {
    display: flex;
    margin: 0 0 0 0;
}