body {
    height: 97dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#maiusculo {
    height: min-content;
    width: 250px;
}

#resul {
    list-style: none;
}